<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Forex Sample Application</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- css -->
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/dataTables.bootstrap4.min.css}">



<!-- javascript -->

<script th:src="@{/js/jquery-3.5.1.js}"></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
 
</head>
<body>

	<div class="container">
	<nav class="navbar bg-dark" style="color:#ffffff; margin-bottom:20px">
  <h3>Forex Java</h3>
</nav>
	<table id="forex" class="table table-striped table-hover table-sm" style="width:100%">
	 </table>
	</div>

	<script th:inline="javascript">
	var rates = [[${rates}]];
	var error = [[${error}]];
	
	if(error) {
		alert(error);
	};
	
	$(document).ready(function() {
	    $('#forex').DataTable( {
	        data: rates,
	        "columns": [	            
	        { "data": "target", title: "Country", "render": function(target) {
	        	let base = target.substr(0,2); 
	        	return `<img src="https://www.countryflags.io/${base}/flat/32.png">`;
	        }},
	        	{ "data": "target", title: "Target"},
	            { "data": "date", title: "Date" },
	            { "data": "rate", title: "Rate"},
	            
	        ]
	    } );
	    $("div.dataTables_length").html('<b>BASE: PHP</b>');
	    
	} );
</script>
</body>

</html>